
@{
    ViewBag.Title = "SingleProduct";
}


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3 text-dark text-center py-4">
                <div class="header-left">
                    <img src="me.jpg" alt=" " class="img-thumbnail rounded-circle mb-2"></img>
                    
                    
                </div>
               

               

            </div>

            <div class="col-lg-9 text-dark text-center py-5 px-5">
                <div class="text-start">
                    <h2>Product Name</h2>
                    <hr>
                    <p>
                        It is a beautiful Product
                    </p>
                </div>

                <div class="text-start py-3">
                    <h2>Price</h2>
                    <hr>

                    <p>
                        1200
                    </p>
                   
                </div>

                


            </div>
        </div>
    </div>



